{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste de mes livres</h1>

    <table class="responsive-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for k,book in books %}
            <tr>
                <td><a href="{{ path('book_show', { 'id': book.id }) }}">{{ k+1 }}</a></td>
                <td>{{ book.titre }}</td>
                <td>{{ book.description }}</td>
                <td>
                    <!-- Dropdown Trigger -->
                    <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Actions</a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown1' class='dropdown-content'>
                        <li>
                            <a href="{{ path('book_show', { 'id': book.id }) }}">
                                Voir
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('book_edit', { 'id': book.id }) }}">
                                Modifier
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('book_edit', { 'id': book.id }) }}">
                                Supprimer
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="waves-effect waves-light btn" href="{{ path('book_new') }}">Ajouter un livre</a>
        </li>
    </ul>
{% endblock %}
